<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://github.com/gxbsst/fap-app/blob/develop/%E5%AF%8C%E6%9C%97%E7%89%B9%E6%99%BA%E8%83%BD%E5%BA%94%E7%94%A8%E5%B9%B3%E5%8F%B0.ipa?raw=true</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://raw.githubusercontent.com/gxbsst/fap-app/master/icon%402x.png?raw=true</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://github.com/gxbsst/fap-app/blob/master/icon-1024.png?raw=true</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.frontan.appledev</string>
				<key>bundle-version</key>
				<string>1.2.6</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>富朗特智能应用平台</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
